/* cart.css */

.cart-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  max-height: 400px; 
  overflow-y: auto;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.cart-item-image img{
  width: 50px;
  height: 60px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-size: 18px;
}

.cart-item-price {
  font-size: 16px;
  margin-right: 8%;
}

.cart-item-remove {
  background-color: #ff6666;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.cart-item-remove:hover {
  background-color: #ff4d4d;
}

.cart-total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5c5460; /* Customize the color */
  margin-top: 1rem;
}

.clear-cart-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}


.clear-cart-button:hover {
  background-color: #cc0000;
}


.order-form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.order-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.order-form .form-group {
  margin-bottom: 20px;
}

.order-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.order-form input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.cart-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.cart-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 16px;
}

.cart-total {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.order-form .submit-button {
  margin-top: 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.order-form .submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}